04_getTSS.sh　より抽出したTSSのデータを使用して、スクリーニングした遺伝子(全遺伝子も)からTSSの上流2kbを抽出してbed形式のファイルを出力するコード<br>
なお、getTSS.shではgtfからTSSの上流・下流10bを抽出している。<br>
出力は genes/TSS_BDF1_expressed.bed と genes/allgenes_TSS.bed

In [1]:
#! usr/bin/env python

In [2]:
#ライブラリの読み込み
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
i = 'BDF1_expressed'

In [4]:
i = str(i)

In [5]:
#データの読み込み
df = pd.read_csv('./ensembl.gtf.tss.bed', sep='\t',header=None)
df = df.rename(columns = {6:'gene_id'})
df

,0,1,2,3,4,5,gene_id
0,1,3073242,3073262,+,ENSMUST00000193812,ENSMUSG00000102693,4933401J01Rik
1,1,3102005,3102025,+,ENSMUST00000082908,ENSMUSG00000064842,Gm26206
2,1,3216334,3216354,-,ENSMUST00000162897,ENSMUSG00000051951,Xkr4
3,1,3215622,3215642,-,ENSMUST00000159265,ENSMUSG00000051951,Xkr4
4,1,3671488,3671508,-,ENSMUST00000070533,ENSMUSG00000051951,Xkr4
...,...,...,...,...,...,...,...
109575,Y,90785431,90785451,+,ENSMUST00000177591,ENSMUSG00000096768,Erdr1
109576,Y,90785490,90785510,+,ENSMUST00000177671,ENSMUSG00000096768,Erdr1
109577,Y,90785575,90785595,+,ENSMUST00000179077,ENSMUSG00000096768,Erdr1
109578,Y,90837402,90837422,+,ENSMUST00000189352,ENSMUSG00000099871,Gm21742
109579,Y,90839167,90839187,-,ENSMUST00000179623,ENSMUSG00000096850,Gm21748

In [6]:
#データの読み込み(trimmed_genes)
ex = pd.read_csv("./genes/"+i+".tsv",sep='\t')
ex

          gene_id  BDF1_FPKM_avr  ICR_FPKM_avr  ddY_FPKM_avr
0   1190007I07Rik          5.335         1.070         0.705
1   1700097N02Rik          3.230         0.625         0.340
2   2810002D19Rik          2.220         1.270         1.030
3        AF067063          1.320         0.415         0.245
4         Abhd14a          1.345         0.680         0.510
..            ...            ...           ...           ...
85         Ublcp1         16.770         3.525         3.170
86         Vps37a         10.120         5.655         5.055
87         Zfp534          2.945         0.850         0.630
88         Zfp608          5.900         2.935         0.910
89         Zfp708         17.340         1.820         1.365

[90 rows x 4 columns]

In [7]:
bd = pd.merge(df,ex ,on = 'gene_id',how = 'right')
bd = bd.dropna()
bd

,0,1,2,3,4,5,gene_id,BDF1_FPKM_avr,ICR_FPKM_avr,ddY_FPKM_avr
0,10,82622916.0,82622936.0,-,ENSMUST00000176200,ENSMUSG00000063320,1190007I07Rik,5.335,1.070,0.705
1,10,82623186.0,82623206.0,-,ENSMUST00000079648,ENSMUSG00000063320,1190007I07Rik,5.335,1.070,0.705
2,10,82623218.0,82623238.0,-,ENSMUST00000185168,ENSMUSG00000063320,1190007I07Rik,5.335,1.070,0.705
3,10,82623180.0,82623200.0,-,ENSMUST00000183363,ENSMUSG00000063320,1190007I07Rik,5.335,1.070,0.705
4,10,82623127.0,82623147.0,-,ENSMUST00000183416,ENSMUSG00000063320,1190007I07Rik,5.335,1.070,0.705
...,...,...,...,...,...,...,...,...,...,...
327,8,40511772.0,40511792.0,+,ENSMUST00000098817,ENSMUSG00000031600,Vps37a,10.120,5.655,5.055
328,4,147702543.0,147702563.0,-,ENSMUST00000117638,ENSMUSG00000062518,Zfp534,2.945,0.850,0.630
329,18,54990170.0,54990190.0,-,ENSMUST00000064763,ENSMUSG00000052713,Zfp608,5.900,2.935,0.910
330,13,67081502.0,67081522.0,-,ENSMUST00000109742,ENSMUSG00000058883,Zfp708,17.340,1.820,1.365
331,13,67081535.0,67081555.0,-,ENSMUST00000190566,ENSMUSG00000058883,Zfp708,17.340,1.820,1.365

In [8]:
#上流1990bをとってくる、下流10bを削る
bd.loc[bd[3] == '+', 1] = bd[1] - 1990
bd.loc[bd[3] == '+', 2] = bd[2] - 10

bd.loc[bd[3] == '-', 2] = bd[2] + 1990
bd.loc[bd[3] == '-', 1] = bd[1] + 10

In [9]:
bd

,0,1,2,3,4,5,gene_id,BDF1_FPKM_avr,ICR_FPKM_avr,ddY_FPKM_avr
0,10,82622926.0,82624926.0,-,ENSMUST00000176200,ENSMUSG00000063320,1190007I07Rik,5.335,1.070,0.705
1,10,82623196.0,82625196.0,-,ENSMUST00000079648,ENSMUSG00000063320,1190007I07Rik,5.335,1.070,0.705
2,10,82623228.0,82625228.0,-,ENSMUST00000185168,ENSMUSG00000063320,1190007I07Rik,5.335,1.070,0.705
3,10,82623190.0,82625190.0,-,ENSMUST00000183363,ENSMUSG00000063320,1190007I07Rik,5.335,1.070,0.705
4,10,82623137.0,82625137.0,-,ENSMUST00000183416,ENSMUSG00000063320,1190007I07Rik,5.335,1.070,0.705
...,...,...,...,...,...,...,...,...,...,...
327,8,40509782.0,40511782.0,+,ENSMUST00000098817,ENSMUSG00000031600,Vps37a,10.120,5.655,5.055
328,4,147702553.0,147704553.0,-,ENSMUST00000117638,ENSMUSG00000062518,Zfp534,2.945,0.850,0.630
329,18,54990180.0,54992180.0,-,ENSMUST00000064763,ENSMUSG00000052713,Zfp608,5.900,2.935,0.910
330,13,67081512.0,67083512.0,-,ENSMUST00000109742,ENSMUSG00000058883,Zfp708,17.340,1.820,1.365
331,13,67081545.0,67083545.0,-,ENSMUST00000190566,ENSMUSG00000058883,Zfp708,17.340,1.820,1.365

In [10]:
#データの整形
bd[0] = 'chr' + bd[0]
bd['score'] = 0
bd[1] = bd[1].astype(str)
bd[1] = bd[1].str.replace('\.0','')
bd[2] = bd[2].astype(str)
bd[2] = bd[2].str.replace('\.0','')

bd

/Users/shigenseigyo/opt/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """
/Users/shigenseigyo/opt/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  import sys

,0,1,2,3,4,5,gene_id,BDF1_FPKM_avr,ICR_FPKM_avr,ddY_FPKM_avr,score
0,chr10,82622926,82624926,-,ENSMUST00000176200,ENSMUSG00000063320,1190007I07Rik,5.335,1.070,0.705,0
1,chr10,82623196,82625196,-,ENSMUST00000079648,ENSMUSG00000063320,1190007I07Rik,5.335,1.070,0.705,0
2,chr10,82623228,82625228,-,ENSMUST00000185168,ENSMUSG00000063320,1190007I07Rik,5.335,1.070,0.705,0
3,chr10,82623190,82625190,-,ENSMUST00000183363,ENSMUSG00000063320,1190007I07Rik,5.335,1.070,0.705,0
4,chr10,82623137,82625137,-,ENSMUST00000183416,ENSMUSG00000063320,1190007I07Rik,5.335,1.070,0.705,0
...,...,...,...,...,...,...,...,...,...,...,...
327,chr8,40509782,40511782,+,ENSMUST00000098817,ENSMUSG00000031600,Vps37a,10.120,5.655,5.055,0
328,chr4,147702553,147704553,-,ENSMUST00000117638,ENSMUSG00000062518,Zfp534,2.945,0.850,0.630,0
329,chr18,54990180,54992180,-,ENSMUST00000064763,ENSMUSG00000052713,Zfp608,5.900,2.935,0.910,0
330,chr13,67081512,67083512,-,ENSMUST00000109742,ENSMUSG00000058883,Zfp708,17.340,1.820,1.365,0
331,chr13,67081545,67083545,-,ENSMUST00000190566,ENSMUSG00000058883,Zfp708,17.340,1.820,1.365,0

In [11]:
bd1 = bd[[0,1,2,'gene_id','score',3]]

In [12]:
bd1 = bd1.rename(columns = {0:'chr',1:'chromStart',2:'chromEnd',3:'strand'})
bd1

       chr chromStart   chromEnd        gene_id  score strand
0    chr10   82622926   82624926  1190007I07Rik      0      -
1    chr10   82623196   82625196  1190007I07Rik      0      -
2    chr10   82623228   82625228  1190007I07Rik      0      -
3    chr10   82623190   82625190  1190007I07Rik      0      -
4    chr10   82623137   82625137  1190007I07Rik      0      -
..     ...        ...        ...            ...    ...    ...
327   chr8   40509782   40511782         Vps37a      0      +
328   chr4  147702553  147704553         Zfp534      0      -
329  chr18   54990180   54992180         Zfp608      0      -
330  chr13   67081512   67083512         Zfp708      0      -
331  chr13   67081545   67083545         Zfp708      0      -

[331 rows x 6 columns]

In [13]:
bd1.to_csv('./genes/TSS_'+i+'.bed', sep='\t',index=None ,header=None)

全遺伝子も

In [14]:
#上流1990bをとってくる、下流10bを削る
df.loc[df[3] == '+', 1] = df[1] - 1990
df.loc[df[3] == '+', 2] = df[2] - 10

df.loc[df[3] == '-', 2] = df[2] + 1990
df.loc[df[3] == '-', 1] = df[1] + 10

In [15]:
df[0] = 'chr' + df[0]
df

,0,1,2,3,4,5,gene_id
0,chr1,3071252,3073252,+,ENSMUST00000193812,ENSMUSG00000102693,4933401J01Rik
1,chr1,3100015,3102015,+,ENSMUST00000082908,ENSMUSG00000064842,Gm26206
2,chr1,3216344,3218344,-,ENSMUST00000162897,ENSMUSG00000051951,Xkr4
3,chr1,3215632,3217632,-,ENSMUST00000159265,ENSMUSG00000051951,Xkr4
4,chr1,3671498,3673498,-,ENSMUST00000070533,ENSMUSG00000051951,Xkr4
...,...,...,...,...,...,...,...
109575,chrY,90783441,90785441,+,ENSMUST00000177591,ENSMUSG00000096768,Erdr1
109576,chrY,90783500,90785500,+,ENSMUST00000177671,ENSMUSG00000096768,Erdr1
109577,chrY,90783585,90785585,+,ENSMUST00000179077,ENSMUSG00000096768,Erdr1
109578,chrY,90835412,90837412,+,ENSMUST00000189352,ENSMUSG00000099871,Gm21742
109579,chrY,90839177,90841177,-,ENSMUST00000179623,ENSMUSG00000096850,Gm21748

In [16]:
df.to_csv('./genes/allgenes_TSS.bed', sep='\t',index=None ,header=None)